body {
    background-color: #333333;
    color: white;
    display: block;
    width: 100%;
    height: 500px;
}
.row {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 0px;
}
.full-row {
    display: block;
    width: 100%;
}
.half-row {
    display: inline-block;
    width: 48%;
    margin: 1%;
}
third-row {
    display: inline-block;
    width: 31%;
    margin: 1%;
}
.message {
    font-weight: 600;
    color: skyblue;
}
.navbar {
    background-color: #cca300;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    background-color: #ddd;
    color: green;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}
h2 {
    text-align: center;
}

.regSeason {
    margin: auto;
}
.regSeason th {
    padding-right: 10px;
}
.regSeason tr {
    text-align: center;
}
tr[class^="inactive-"] {
    color: #808080;
    font-style: italic;
}
.playoffs th {
    padding-right: 10px;
}
.playoffs tr {
    text-align: center;
}