<!DOCTYPE html>
<html>

<body>
    <div class="navbar">
        <a href="/" class="navbar-brand">Team Friends Fantasy Football</a>
        <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
        <a href="{{ url_for('history') }}" class="navbar-item">History</a>
        <a href="{{ url_for('home2025') }}" class="navbar-item">2025</a>
        <a href="{{ url_for('get_rules') }}" class="navbar-item">Rulebook</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>